################################################################################

# emacs
*~

# asm
*.o
*.elf

# misc
*.fzz
*.local.*

################################################################################
